html {
    background-image: url(media/photographer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}


body {
  
}

@media (max-width: 700px) {
    header h1 {
        text-align: center;
    }

    ul {
       
        grid-auto-flow:row;
    }

    li {
        width:100%;
        height:auto;
    }

    img {
        width:100%;
        height:auto;
    }

}

header {
    justify-content: center;
    display: flex;
}

header h1 {
    color: white;
    font-family: 'Coustard';
    font-size: 3em;
}

.input {
    display: flex;
    justify-content: center;
}

body, input, select, option, button {
    font-family: "Oleo Script";
    font-size: 24px;
}

.objects {
   
    align-items: center;
    
    
}

ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-flow:row;
    list-style-type: none;
    align-items: center;
    margin:0;
    overflow: hidden;
    background-color: rgba(240, 248, 255, 0.247);
    

    /*
    list-style-type: none;
    margin: 0;
    padding-top:2fr;
    overflow: hidden;
    */
  }


li {
    float:left;
}






